@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

canvas {
    background-color: black;
    display:block;
    margin-bottom: 20px; 
}

.game_description {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 150px;
    margin-top: 20px;
    
}

.game_description img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}   

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal_game_description {
    background-color:rgba(255, 228, 196, 0.9);
    padding: 30px;
    border-radius: 12px;
    color:bisque;
}

.modal_game_description h2 {
    text-shadow: 4px 3px 16px #000000;
  
}

.modal_game_description li {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Baloo 2', sans-serif;
    color: black;
    font-size: 18px;
}

#game_container {
    position: relative;
    width: 720px;
    height: 480px;
}

#game_container:fullscreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#game_container:fullscreen canvas {
    width: 100%;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
}

#fullscreen_btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 100;
}

#fullscreen_btn {
    opacity: 0;
    transition: opacity 0.2s ease;
}

#game_container:hover #fullscreen_btn {
    opacity: 1;
}


#mobile_controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 9999;
    pointer-events: none;
    inset: 0;
}

#mobile_controls img {
    width: 50px;
    height: 50px;
    pointer-events: auto;
}

#mobile_top_right {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

#mobile_move_controls {
    position: absolute;
    bottom: 20px;
    left: 40px;

    display: flex;
    gap: 25px;
}

#mobile_action_controls {
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: flex;
    gap: 25px;
}

.footer_style {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* halbtransparentes Schwarz */
    color: bisque;
    text-align: center;
    padding: 15px 0;
    font-family: 'zabars', sans-serif;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Baloo 2', sans-serif;
    font-size: 10px;
}

h1 {
    padding-top:32px; 
    padding-bottom:20px; 
    font-size: 85px;
    font-weight: 100;
    initial-letter: 3px;
    text-shadow: 2px 2px 4px #000000;
    margin:0;
}

h2 {
    padding-top:10px; 
    padding-bottom:10px; 
    font-size: 35px;
    text-shadow: 1px 1px 2px #000000;
    font-weight: 100;
    initial-letter: 3px;
    font-family: zabars, sans-serif;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* wichtig! */
    background-image: url('img/falkenpost-desert-1654439.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: bisque;
    font-family: 'zabars', sans-serif;
}

.impressum-body {
    min-height: unset;
    display:flex; 
    flex-direction: column;   
}

.impressum {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: bisque;
    border-radius: 10px;
    font-family:'Baloo 2', sans-serif;
}

.impressum p {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
}

.impressum a {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    text-decoration: none;
}

.rotate_overlay {
    position: fixed;
    inset: 0;
    background: black;
    color: bisque;
    font-family: 'Baloo 2', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 999999;
}

.d_none {
    display: none !important;
}

.no_scroll {
    overflow: hidden;
}


/* Smartphones */
@media only screen and (max-width: 740px) {
    canvas {
        width: 100%;
    }

    h1 {
        font-size: 50px; 
    }
}

/* Smartphones */ 
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display:none; 
    }
}